@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Nunito";
}
body{
background-image: url(guillermo-ferla-Oze6U2m1oYU-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
}

input{
    padding: 5px 10px;
    border: none;
    border-radius: 15px;

}
button{
    border: none;
    border-radius: 10px;
    background-color: #333a44;
    color: white;
    padding: 10px;
}
button:hover{
transition: background-color 167ms ease-in, color 200ms ease;
cursor: pointer;
background-color: white;
color: #333a44 
}


.container{
    transform: translate(33.5vw ,30vh);
    background-color: rgba(19, 7, 92, 0.341);
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    
}

.login form, .title{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgb(194, 191, 191);
    max-width:500px;
    min-width:400px;
    box-shadow: 1px 1px 50px black;
}
